#root{
display: flex;
justify-content: center;
margin: 30px;
}
.App{
    text-align: left;
    display: flex;
    flex-direction: column;
    
}
.form-group{
    margin: 10px;

}
.error {
    color: red;
    font-size: 12px;
}
